name: Build APK

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version: '3.10'

      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install -y build-essential git python3-dev ffmpeg libsdl2-dev libportmidi-dev libswscale-dev libavformat-dev libavcodec-dev zlib1g-dev
          pip install --upgrade pip
          pip install Cython==0.29.33
          pip install buildozer

      - name: Build APK
        # Cette variable remplace le "yes |" et accepte proprement les licences
        run: buildozer android debug
        env:
          BUILDOZER_ACCEPT_ANDROID_SDK_LICENSE: 1

      - name: Upload APK
        uses: actions/upload-artifact@v4
        with:
          name: mon-application-apk
          path: bin/*.apk
